<%= field_set_tag "Block" do %>
  <%= f.association :block, label_method: :label_for_select %>
  <%= f.association :region, label: 'Region', collection: @page.layout.regions %>
  <%= f.input :template_override, hint: "leave blank to use the <strong>Block</strong>'s default template" %>
  <%= f.input :position %>
  <%= f.input :css_class %>
  <%= f.input :css_id, label: "CSS Id" %>
  <p><%= f.link_to_remove "Remove this block", class: "button icon-remove" %></p>
<% end %>
