<%= f.association :layout, hint: ("changing the layout will delete any <strong>Block Overrides</strong> below" unless f.object.new_record?) %>
<%= f.input :partial_override, hint: "enter the name of the partial template here to override the <strong>Layout</strong>'s <strong>partial</strong> property" %>

<%= field_set_tag 'Meta Tags' do %>
  <%= f.input :meta_title %>
  <%= f.input :meta_keywords %>
  <%= f.input :meta_description %>
<% end %>

<%= f.input :title %>

<%= link_to "Upload image", '#', id: "upload-image" %>
<%= f.input :body, input_html: { class: 'tinymce', data: { mce: asset_path('admin/libs/tinymce/tinymce.min.js') } } %>

<%= field_set_tag 'Block overrides', id: "block-override-fields" do %>
  <% if f.object.new_record? %>
    <span class="hint">you must save the <strong>Page</strong>, setting the <strong>Layout</strong> field before overrides can be set</span>
  <% else %>
    <% @page = f.object %>
    <%= f.fields_for :blocks_region_overrides %>
    <p><%= f.link_to_add "New Override", :blocks_region_overrides %></p>
  <% end %>
<% end %>
