<% skip_new_link ||= false %>

<%= render 'page_head' %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t("cms.new_#{@controller_singular}"), new_object_url(menu_id: params[:menu_id]), icon: 'icon-plus' %></li>
<% end unless content_for?(:page_actions)%>

<% content_for :page_title do %>
  <%= controller.controller_name.capitalize.split('_').join(' ') %>
<% end unless content_for?(:page_title) %>

<%= paginate @collection %>

<% if @collection.any? %>

<%= render 'index' %>

<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(@controller_singular, scope: "spree.cms")) %>
    <% unless skip_new_link %><%= link_to Spree.t(:add_one), new_object_url %>!<% end %>
  </div>
<% end %>

<%= paginate @collection %>
