<div id="cms-image-find-or-create">

  <h3><a href="#" class="find<%= ' on' unless params[:action] == 'submit_find_or_create' %>">Find</a> or <a href="#" class="upload<% ' on' if params[:action] == 'submit_find_or_create' %>">Upload</a> an Image</h3>

  <div id="cms-image-select" class="hide-on-load">
    <form action="">
      <input type="hidden" id="cms-image-id" name="cms_image_id" value="">
      <div class="img-wrap"></div>
      <fieldset>
        <legend>Size</legend>
        <div class="input">
          <label for="style">Resize style</label>
          <select name="style" id="style">
            <option selected="selected" value="">Resize to fit</value>
            <option value=">">Resize to fill</value>
            <option value="#">Crop</value>
            <option value="none">No resize (show original)</value>
          </select>
        </div>
        <div class="input">
          <label for="w">Width</label>
          <input type="text" name="w" id="w">
          <span class="info">set to '0' or leave blank for variable width</span>
        </div>
        <div class="input">
          <label for="h">Height</label>
          <input type="text" name="h" id="h">
          <span class="info">set to '0' or leave blank for variable height</span>
        </div>
      </fieldset>
      <div class="form-buttons filter-actions actions">
        <button class="icon-ok button" name="button" type="submit">Insert</button>
        <span class="or">or</span>
        <a href="#" class="button icon_link with-tip icon-remove"><span class="text">Cancel</span></a>
      </div>
    </form>
  </div>

  <div id="cms-image-create"<% unless params[:action] == 'submit_find_or_create' %> class="hide-on-load"<% end %>>
    <%= simple_form_for @object, url: url_for(submit_find_or_create_admin_cms_images_path), html: { multipart: true } do |f| %>
      <fieldset>
        <legend align="center">Image</legend>
        <%= render 'image_fields', object: @object, f: f %>
      </fieldset>
      <%= render 'spree/admin/shared/new_resource_links' %>
    <% end %>
  </div>

  <div id="cms-image-find"<% if params[:action] == 'submit_find_or_create' %> class="hide-on-load"<% end %>>
    <%= render partial: "spree/admin/cms_images/find" %>
  </div>
</div>
