<%
context ||= :table_row
case context
when :table_row
%>
<tr>
  <td class="align-center"><%= object.name %></td>
  <td class="align-center"><%= object.title %></td>
  <td class="align-center"><%= object.file.remote_url %></td>
  <td class="actions" data-hook="admin_<%= controller_name %>_index_row_actions">
    <%= link_to_edit object, no_text: true, class: 'edit' %>
    &nbsp;
    <%= link_to_delete object, no_text: true %>
  </td>
</tr>
<%
when :find_or_create
%>
<li class="clearfix <%= cycle 'even', 'odd' %>">
  <div>
    <strong><%= link_to object.name, object.file.remote_url %></strong> &nbsp; &nbsp; 
    <%= link_to "Select", "#", data: {
      id: object.id,
      url: object.file.remote_url,
      title: object.title,
      name: object.name,
    }, class: "button" %>
  </div>
</li>
<%
end
%>
