<%= field_set_tag "Block" do %>
  <%= f.association :block, label_method: :label_for_select %>
  <%= f.input :template_override, hint: "leave blank to use the <strong>Block</strong>'s default template" %>
  <%= f.input :position %>
  <p><%= f.link_to_remove "Remove this block" %></p>
<% end %>
