<%= f.input :name %>
<%= f.input :template, label: 'Layout', hint: 'leave blank to use the default Spree layout' %>
<%= f.input :partial, hint: 'leave blank to use the default CMS partial, which will loop through regions, rendering blocks into them' %>

<%= field_set_tag "Regions" do %>
  <%= f.fields_for :regions %>
  <p><%= f.link_to_add "Add a Region", :regions %></p>
<% end %>
