<%= field_set_tag "Region" do %>
  <%= f.input :name %>
  <%= f.input :template %>

  <%= field_set_tag "Blocks" do %>
    <%= f.fields_for :blocks_regions %>
    <p><%= f.link_to_add "Add a block", :blocks_regions %></p>
  <% end %>

  <p><%= f.link_to_remove "Remove this region" %></p>
<% end %>
