<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
  <head data-hook="admin_inside_head">
    <%= render :partial => 'spree/admin/shared/head' %>
  </head>

  <body class='admin'>
    <div id='wrapper' data-hook>

      <% if flash[:error] %>
        <div class="flash error"><%= flash[:error] %></div>
      <% end %>
      <% if notice %>
        <div class="flash notice"><%= notice %></div>
      <% end %>
      <% if flash[:success] %>
        <div class="flash success"><%= flash[:success] %></div>
      <% end %>

      <div id="progress">
        <div class="wrapper">
          <div id="spinner"></div>
          <div class="progress-message"><%= Spree.t(:loading) %>...</div>
        </div>
      </div>

      <%= render :partial => 'spree/admin/shared/alert', :collection => session[:alerts] %>

      <div id="content" data-hook>
        <%= yield %>
      </div>
    </div>

    <div data-hook="admin_footer_scripts"></div>

    <%= javascript_include_tag "admin/spree_cms_image.js" %>
    <%= javascript_include_tag "admin/spree_cms_file.js" %>

    <script>
      Spree.api_key = <%= raw(try_spree_current_user.try(:spree_api_key).to_s.inspect) %>;
    </script>
  </body>
</html>

