<%= render 'page_head' %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t("cms.new_#{@controller_singular}"), eval("new_admin_cms_#{@controller_singular}_url"), icon: 'icon-plus' %></li>
<% end %>

<% content_for :page_title do %>
  <%= controller.controller_name.capitalize %>
<% end %>

<%= paginate @collection %>

<% if @collection.any? %>

<%= render 'index' %>

<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(@controller_singular, scope: "spree.cms")) %>
    <%= link_to Spree.t(:add_one), eval("new_admin_cms_#{@controller_singular}_url") %>!
  </div>
<% end %>

<%= paginate @collection %>
