<%= field_set_tag "Slide" do %>
  <% f.object.build_image if f.object.image.nil? %>
  <%= field_set_tag "Image" do %>
    <%= f.fields_for :image %>
  <% end %>
  <%= f.input :title %>
  <%= f.input :position %>
  <%= f.input :copy, input_html: { class: 'tinymce' } %>
  <%= f.input :url, hint: "if set, the entire slide will link to the URL provided" %>
  <p><%= f.link_to_remove "Remove this slide", class: "button icon-remove" %></p>
<% end %>
