<%= field_set_tag "Menu item" do %>
  <%= f.fields_for :menu_item %>
  <% if f.object.menu_item.nil? %>
    <p><%= f.link_to_add "Create a Menu Item", :menu_item %></p>
  <% end %>
<% end %>

<%= f.association :layout %>

<%= f.input :title %>

<%= f.input :meta_title %>
<%= f.input :meta_description %>

<%= f.input :body %>
