<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t("cms.new_html_block"), new_admin_html_block_url, icon: 'icon-plus' %></li>
  <li><%= button_link_to Spree.t("cms.new_slideshow_block"), new_admin_slideshow_block_url, icon: 'icon-plus' %></li>
  <li><%= button_link_to Spree.t("cms.new_menu_block"), new_admin_menu_block_url, icon: 'icon-plus' %></li>
  <li><%= button_link_to Spree.t("cms.new_static_block"), new_admin_static_block_url, icon: 'icon-plus' %></li>
<% end %>

<%= render template: "spree/admin/cms_base/index", locals: { skip_new_link: true } %>
